<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Chatterbox</title>
</head>
<body>
    <nav>
        <a href="/users/profile">My Profile</a>
        &nbsp;|&nbsp;
        <a href="/users/test">user test</a>
        &nbsp;|&nbsp;
        <a href="/users/profile/new">New Post</a>
        &nbsp;|&nbsp;
        <% if (user) { %>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google">Log In</a>
            <% } %>
    </nav>
</body>
</html>