<%- include('../partials/header') %>

<form id="new-profile" action="/profiles/create" method="POST">
    <label>Create your username</label>
    <input type="text" name="username">
    <input type="submit" value="submit">
  </form>
  
<%- include('../partials/footer') %>